body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

div.container {
    width: 530px;
    margin: 0 auto;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

img {
    display: block;
    width: 20px;
    height: 20px;
}

.purchase {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.purchase_option-item {
    margin: 40px 0 35px;
    font-weight: 700;
}

.purchase_option-list {
}

.purchase_option-list li {
    margin: 30px 0 10px;
}

.purchase_checkbox {
    display: flex;
    margin: 40px 0 20px;
    align-items: center;
}
.purchase_checkbox p{
    cursor: pointer;
}

.purchase_checkbox input {
    border: 1px solid grey;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.purchase_box{
}

.purchase_box h2 {
    text-align: left;
    margin: 30px 0;
    font-weight: 700;
}

.purchase_box-describe {
    display: flex;
}

.purchase_box-describe__clothes {
    display: block;
    width: 130px;
    height: 200px;
}

.purchase_box-describe__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 10px;
}

.describe_title {
    display: flex;
    align-items: start;
}
.describe_title img{
    margin-top: 6px;
}

.purchase_box-describe__info h3 {
    font-weight: 700;
}

.purchase_box-describe__info p {
    margin: 10px 0;
    font-weight: 700;
}

.describe_details {
    display: flex;
    justify-content: space-between;
}

.describe_details ul:first-child {
    color: grey;
}

.describe_details ul:last-child {
    display: flex;
    align-items: end;
}

.describe_details ul:nth-child(2) {
    font-weight: 700;
}

.describe_details li {
    margin-bottom: 20px;
}

.describe_details-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.describe_details-block-minus {
    border: 1px solid grey;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.describe_details-block-minus img{
    width: 15px;
    height: 15px;
}

.describe_details-block-plus {
    border: 1px solid black;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.describe_details-block-plus img{
    width: 15px;
    height: 15px;
}

.purchase_price {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.purchase_price li {
    margin-bottom: 20px;
}

.purchase_price li:nth-child(2) {
    color: red;
}

.purchase_price li:last-child {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
}

.purchase_btn {
    width: 100%;
    height: 50px;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.purchase_btn:hover {
    border-color: white;
}

.cursor-point {
    cursor: pointer;
}
.active{
    background-color: black;
}
.line{
    border: lightgrey 1px solid;
}
.line-dashed{
    border: lightgrey 1px dashed;
}
.basket{
    width: 30px;
    height: 30px;
}
.click-agreement{
    background-color: black;
}
.click-disagreement{
    background-color: white;
}